.gameBoard{
	border-spacing:0px;
}

.col-image.num1.pressed{
	background-image: url("number1.png");
	height:24px;
	width:24px;
}
.col-image.num2.pressed{
	background-image: url("number2.png");
	height:24px;
	width:24px;
}
.col-image.num3.pressed{
	background-image: url("number3.png");
	height:24px;
	width:24px;
}

.col-image.num4.pressed{
	background-image: url("number4.png");
	height:24px;
	width:24px;
}
.col-image.num5.pressed{
	background-image: url("number5.png");
	height:24px;
	width:24px;
}
.col-image.num6.pressed{
	background-image: url("number6.png");
	height:24px;
	width:24px;
}
.col-image.num7.pressed{
	background-image: url("number7.png");
	height:24px;
	width:24px;
}
.col-image.num8.pressed{
	background-image: url("number8.png");
	height:24px;
	width:24px;
}
.col-image.num0.pressed{
	background-image: url("empty.png");
	height:24px;
	width:24px;
}

.col-image.mine.pressed {
	background-image: url("mine-wrong.png");
	height:24px;
	width:24px;
}
.col-image.marked.pressed.mine {
	background-image: url("mine.png");
	height:24px;
	width:24px;
}



