<DOCTYPE html>
<html>
  <head>  
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>  
    <script type="text/javascript" src="angular.min.js"></script>   
	<script type="text/javascript" src="game.js"></script>   
	<link rel="stylesheet" type="text/css" href="gameBoard.css">
  </head>


  <body ng-app="MineSweeper">
	<div ng-controller="GameController as game">
		<span ng-show="game.board.unpressed == MINES"><b>YOU WIN!!! <b></span> 
		<div>			
			<span ><b>Marked:<b></span> 
			<img ng-src=".\Digits\digit{{ Math.floor(game.board.minesMarked/10)}}.gif" alt="Description" />
			<img ng-src=".\Digits\digit{{ game.board.minesMarked%10}}.gif" alt="Description" />	
			<span ><b>Left:<b></span> 
			<img ng-src=".\Digits\digit{{ Math.floor( (MINES-game.board.minesMarked) / 10)}}.gif" alt="Description" />
			<img ng-src=".\Digits\digit{{(MINES-game.board.minesMarked)%10}}.gif" alt="Description" />						
		</div>
		<table class="gameBoard">
			<tr ng-repeat="row in game.board.rows">
				<td ng-repeat="col in row.cols" background-color="grey">
					<img ng-if="!col.pressed && !col.marked"  ng-right-click="col.markMine(game)" ng-click="col.handlePress(game)" src="covered.png" />
					<img ng-if="col.mine && !col.marked && col.pressed" src="mine-wrong.png" />
					<img ng-if="col.mine && col.marked && col.pressed" src="mine.png" />						
					<img ng-if="!col.mine && col.pressed && col.value==0" src="empty.png" />
					<img ng-if="!col.mine && col.pressed && col.value==1" src="number1.png" />
					<img ng-if="!col.mine && col.pressed && col.value==2" src="number2.png" />
					<img ng-if="!col.mine && col.pressed && col.value==3" src="number3.png" />					
					<img ng-if="!col.mine && col.pressed && col.value==4" src="number4.png" />					
					<img ng-if="!col.mine && col.pressed && col.value==5" src="number5.png" />					
					<img ng-if="!col.mine && col.pressed && col.value==6" src="number6.png" />					
					<img ng-if="!col.mine && col.pressed && col.value==7" src="number7.png" />	
					<img ng-if="!col.mine && col.pressed && col.value==8" src="number8.png" />
					<img ng-if="col.marked && !col.pressed" ng-right-click="col.markMine(game)" ng-click="col.handlePress(game)" src="flagMine.png" />						
					
				</td>
			</tr>			
		</table>
		<div ng-repeat="mine in game.mines">				
			<input type="text" ng-model="game.mines[$index]"/>
		</div>
	</div>
 </body>
</html>


